* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 20px;
  gap: 30px;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  height: 350px;
  border-radius: 20px;
  background-color: #fff;
  color: #111;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 0.5px solid #858181;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}



.center h3{
  font-size: 17px;
  font-weight: 600;
}

.center h3 span{
  font-size: 9px ;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;

}
.center .tag{
display: flex;
gap: 4px;
margin-top: 10px;

}

.center .tag h4{
font-size: 12px;
background-color: #dadada ;
color: #111;
padding: 4px 8px;
font-weight: 500;
border-radius: 5px;

}


.bottom{
  display: flex;align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #dadada;
  padding-top: 15px ;
}

.bottom button{
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}