*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.parent{
  width: 100vw;
  background-color: #111;
  padding: 30px;
  height: 100vh;
  border: 2px solid wheat;
}


.card{
  width: 300px;
  height: 400px;
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card img{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}