 body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
 }
 
 
 
 .parent{
  width: 300px;
  border-radius: 10px;
border: 2px solid gray;
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: #222;
}


.large{
  display: flex;
  flex-wrap: wrap;
justify-content: center;

}

.parent img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* margin-bottom: 10px; */
  object-fit: cover;
}


.button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;

}